REACT_APP_API_URL = https://smart-parent-engagement-backend.onrender.com/api
REACT_APP_SOCKET_URL = https://smart-parent-engagement-backend.onrender.com
REACT_APP_AI_URL = https://smart-parent-engagement-scope-aiservice.onrender.com